@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card-body {
  background: white;
  height: 650px;
  width: 450px;
  border: gray;
  border-radius: 5%;
  margin: auto;
}

.top-suit {
  width: 400px;
  height: 200px;
}

.card-number {
  width: 400px;
  height: 300px;
  text-align: center;
}

.bottom-suit {
  width: 400px;
  height: 200px;
  text-align: right;
}
